/*body*/

body {
    margin: 0 auto;
    font-family: 'Futura Book';
    font-size: 18px;
    font-weight: 400;
    overflow-x: hidden;
}
h1,h2{
    font-family: 'Futura Md BT';
}
@font-face {
    font-family: 'Futura Book' ;
    src: url(../fonts/Futura/FuturaDemiC.eot);
    src: url(../fonts/Futura/FuturaDemiC.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Futura/FuturaDemiC.woff) format('woff'),
        url(../fonts/Futura/FuturaDemiC.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Futura Book';
    src: url(../fonts/Futura/FuturaMediumC.eot);
    src: url(../fonts/Futura/FuturaMediumC.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Futura/FuturaMediumC.woff) format('woff'),
        url(../fonts/Futura/FuturaMediumC.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura Book';
    src: url(../fonts/Futura/FuturaLightC.eot);
    src: url(../fonts/Futura/FuturaLightC.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Futura/FuturaLightC.woff) format('woff'),
        url(../fonts/Futura/FuturaLightC.ttf) format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face{
    font-family: 'Futura Md BT';
    src: url(../fonts/04042068.ttf) format('truetype');
    
}

/*Menu*/
img.logo,.nav{
    display: flex;
    justify-content: center;
}
li.itemmenu{
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 0 2%;
    
}
li.itemmenu a{
    text-decoration: none;
    color: #999999;
}
li.itemmenu a:hover{
    border-bottom: 4px solid #3070a8;
    color: #3070a8;
    padding-bottom: 42px;
    
}
ul.mainmenu{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    white-space: nowrap;
    
}
.header{
    margin: 40px auto 40px 180px;
}
/*Main*/
.main_display{
    background-image: url(../images/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px;
    color: white;
    text-align: center;
}
p.uptext{
    font-size: 40px;
    font-weight: normal;
}
h1.mainzag{
    text-transform: uppercase;
    font-size: 50px;
}
p.descrtext{
    font-size: 22px;
    font-style: italic;
    letter-spacing: 0.03em;
}
button.mainbutton{
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid white;
    padding: 20px 60px;
    margin-top: 20px;
}
/*Servises*/
.servises{
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}
.servis_l,.servis_c,.servis_r{
    display: inline-block;
    width: 25%;
    text-align: center;
    

}
.serv_zag{
    color: #3070a8;
    font-size: 30px;
    font-weight: lighter;
    text-transform: uppercase;
}
.serv_img{
    position: relative;
}
.servis_text{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7em;
    color: #999;
    padding-left: 15px;
    padding-right: 15px;
}
/*middlerow*/
.middlerow{
    background-image: url(../images/Rectangle\ 14\ copy.png);
    background-size: cover;
    margin: 50px 0;
    padding-top: 50px;
    padding-bottom: 70px;
    }
.middlerow_content{
    text-align: left;
    width: 48%;
    margin-left: 180px;
}
.middlerow_zag {
        color: #ee8129;
        text-transform: uppercase;
        font-size: 28px;
        line-height: 1.7em;
        font-weight: 600;
        margin-left: 180px;
}
.middlerow_descr{
    font-size: 24px;
    font-style: italic;
    color: white;
}
li{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 2.2em;
    
}
.middle_one{
    color: #999;
    padding-bottom: 10px;
}
.middle_one::before{
    content: "\25CF";
    color: #999;
    margin: 0 10px 0 -20px;
}
.middle_to{
    color: #3070a8;
    padding-bottom: 10px;
}
.middle_to::before {
    content: "\25CF";
    color: #3070a8;
    margin: 0 10px 0 -20px;
}

/*Price*/
.priserow{
    margin: 50px;
    text-align: center;
    
}
.price_l,.price,.price_r{
    display: inline-block;
    
    
}
h3.headrow {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 50px;
}
/*Left price*/
.price_l {

    width: 300px;
    border: 1px solid #f5f5f6;
    border-radius: 4px;
    padding-top: 0;
    font-family: 'Futura Book';
    margin-right: -5px;
}

.head_l {
    border: 1px solid #37c2d3;
    border-radius: 4px 0 0 0;
    font-weight: 500;
    font-size: 24px;
    color: white;
    height: 67px;
    background-color: #37c2d3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Futura Md BT';
}

p.head2_l {
    font-family: 'Poiret One', cursive;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.prise25_l {
    text-align: center;
    font-size: 70px;
    margin: 20px auto 30px;
    font-family: 'Futura Md BT';
}

.priceul_l {
    list-style: none;
    margin: 0 15px 0 -25px
}

.priceli_l {
    padding: 9px 30px;
    font-weight: bold;
    color: #999;
    margin-bottom: 1px;
}
.priceli_l img {
    position: relative;
}
.priceli_l:nth-child(even) {
    background-color: #f5f5f6;
}

.priceli_l:nth-child(odd) {
    background-color: #e8f2fb;
}

button.pricebut_l {
    padding: 12px 75px;
    margin: 20px 22px 17px;
    background-color: #3371a6;
    font-weight: 700;
    color: white;
    border: 1px solid #3371a6;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
/*central price*/
.price {
    
    width: 300px;
    border: 4px solid #ee8129;
    border-radius: 4px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    padding-top: 0;
    font-family: 'Futura Book';
    z-index: 1;
}

.head {
    font-weight: 500;
    font-size: 24px;
    color: white;
    height: 80px;
    background-color: #ee8129;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Futura Md BT';
}

p.head2 {
    font-family: 'Poiret One', cursive;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.prise25 {
    text-align: center;
    font-size: 70px;
    margin: 20px auto 30px;
    font-family: 'Futura Md BT';
}

.priceul {
    list-style: none;
    margin: 0 15px 0 -25px
}

.priceli {
    padding: 9px 30px;
    font-weight: bold;
    color: #999;
    margin-bottom: 1px;
}
.priceli img {
    position: relative;
}
.priceli:nth-child(even) {
    background-color: #f5f5f6;
}

.priceli:nth-child(odd) {
    background-color: #e8f2fb;
}

button.pricebut {
    padding: 12px 75px;
    margin: 20px 22px 30px;
    background-color: #ee8129;
    font-weight: 700;
    color: white;
    border: 1px solid #ee8129;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
/*Right price*/
.price_r {
    width: 300px;
    border: 1px solid #f5f5f6;
    border-radius: 4px;
    padding-top: 0;
    font-family: 'Futura Book';
    margin-left: -5px;
    z-index: -1;
    position: relative;
}

.head_r {
    border: 1px solid #1cb79a;
    border-radius: 0 4px 0 0;
    font-weight: 500;
    font-size: 24px;
    color: white;
    height: 67px;
    background-color: #1cb79a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Futura Md BT';
}

p.head2_r {
    font-family: 'Poiret One', cursive;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.prise25_r {
    text-align: center;
    font-size: 70px;
    margin: 20px auto 30px;
    font-family: 'Futura Md BT';
}

.priceul_r {
    list-style: none;
    margin: 0 15px 0 -25px
}

.priceli_r {
    padding: 9px 30px;
    font-weight: bold;
    color: #999;
    margin-bottom: 1px;
}
.priceli_r img {
    position: relative;
}
.priceli_r:nth-child(even) {
    background-color: #f5f5f6;
}

.priceli_r:nth-child(odd) {
    background-color: #e8f2fb;
}

button.pricebut_r {
    padding: 12px 75px;
    margin: 20px 22px 17px;
    background-color: #3371a6;
    font-weight: 700;
    color: white;
    border: 1px solid #3371a6;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

/*Testimonials*/

.testimonial {
    background-image: url(https://i.ibb.co/q793k03/task2-back.jpg);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 70px;
}
h2{
    color: #3371a6;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    margin: 0 auto;
}
span.firstword{
    color: #ee8129;
    font-family: 'Futura Book';
    font-weight: normal;
}
.testi_left,.testi_right{
    display: inline-block;
    margin-top: 50px;
}
.testi_left{
    padding-left: 180px;
}
.testi_right{
    padding-left: 30px;
}
img{
    position: absolute;
}
.testi_item{
    background-color: white;
    width: 320px;
    position: relative;
    margin-left: 130px;
    font-size: 17px;
    font-weight: normal; 
    padding: 14px;
}
.name{
    color: #3371a6;
    padding-bottom: 15px;
    font-style: italic;
    border-bottom: 1px dotted #3371a6;
    margin-top: 0;
    font-weight: bold;
    font-size: 16px;
}
span.status{
    float: right;
}

.triangl{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1em 1em 1em 1em;
    display: block;
    border-color: transparent white transparent transparent;
    position: absolute;
    margin-left: -42px;
}
/*Contacts*/
.contact > div {
    float: left;
    width: 48%;
    margin: 0; 
    box-sizing: border-box;
   
}
.contact_info{
    padding: 50px 0 30px 180px;
}
.contact_map{
    width: 40%;
}
img.cont_img{
    padding-left: 30px; 
} 
.contact_text,.contact_textN{
    padding-left: 50px;
}
.ico_socF,.ico_socT,.ico_socL {
    padding-right: 20px;
    position: relative;
}
/*Footer*/
.footer{
    clear: both; 
    background-color: #e9f2fa;
    text-align: center;
    color: white
}
.copyright{
    padding-top: 30px;
    margin: 0;
}
.design{
    padding-bottom: 30px;
    margin: 0; 
}
.design a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/*Portfolio*/
.portfolio{
    margin-top: 60px;
    margin-bottom: 160px;
    text-align: center;
}
.port_head,.port_head2{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: black;
}
.port_head{
    letter-spacing: 0.03em;
}
.port_head2{
    font-size: 15px;
    color: #b2b3b3;
    margin-bottom: 30px;
}
.portf,.portf1,.portf2,.portf3,.portf4,.portf5 {
    display: inline-block;
    width: 360px;
    height: 260px;
    margin: 15px 15px;
}
.portf_cap {
    position: absolute;
    margin-top: -265px;
    display: none;
} 
.foto_port {
     position: relative;  
}
.portf:hover .portf_cap {
    display: block;
}
.portf1:hover .portf_cap {
    display: block;
}
.portf2:hover .portf_cap {
    display: block;
}
.portf3:hover .portf_cap {
    display: block;
}
.portf4:hover .portf_cap {
    display: block;
}
.portf5:hover .portf_cap {
    display: block;
}
button.link img{
    padding: 13px;
    border: 1px solid white;
    border-radius: 3px;
    position: relative;
}
button.link {
    position: relative;
    margin-left: 15px;
    margin-top: 100px;
    padding: 0;
    background-color: transparent;
    border: transparent;
}
button.link:hover{
    background-color: #25a6f7;
}
button.zoom{
    position: relative;
    margin-left: 120px;
    margin-top: 100px;
    padding: 0;
    background-color: transparent;
    border: transparent;
}
button.zoom img{
    padding: 13px;
    border: 1px solid white;
    border-radius: 3px;
    position: relative;
}
button.zoom:hover {
    background-color: #25a6f7;
}
