/*body*/

body {
    margin: 0;
    font-family: 'Futura Book';
    font-size: 18px;
    font-weight: 400;
}
h1,h2{
    font-family: 'Futura Md BT';
}
@font-face {
    font-family: 'Futura Book' ;
    src: url(../fonts/Futura/FuturaDemiC.eot);
    src: url(../fonts/Futura/FuturaDemiC.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Futura/FuturaDemiC.woff) format('woff'),
        url(../fonts/Futura/FuturaDemiC.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Futura Book';
    src: url(../fonts/Futura/FuturaMediumC.eot);
    src: url(../fonts/Futura/FuturaMediumC.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Futura/FuturaMediumC.woff) format('woff'),
        url(../fonts/Futura/FuturaMediumC.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Futura Md BT';
    src: url(../fonts/04042068.ttf) format('truetype');
    
}

/*Menu*/

/*Main*/

/*Price*/

.price_l,.price,.price_r{
    display: inline-block;
     margin-top: 5%;
}
/*Left price*/
.price_l {

    width: 300px;
    border: 1px solid #f5f5f6;
    border-radius: 4px;
    padding-top: 0;
    font-family: 'Futura Book';
    margin-left: 10%;
    margin-right: -5px;
}

.head_l {
    border: 1px solid #37c2d3;
    border-radius: 4px 0 0 0;
    font-weight: 500;
    font-size: 24px;
    color: white;
    height: 67px;
    background-color: #37c2d3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Futura Md BT';
}

p.head2_l {
    font-family: 'Poiret One', cursive;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.prise25_l {
    text-align: center;
    font-size: 70px;
    margin: 20px auto 30px;
    font-family: 'Futura Md BT';
}

.priceul_l {
    list-style: none;
    margin: 0 15px 0 -25px
}

.priceli_l {
    padding: 9px 30px;
    font-weight: 500;
    margin-bottom: 1px;
}
.priceli_l img {
    position: relative;
}
.priceli_l:nth-child(even) {
    background-color: #f5f5f6;
}

.priceli_l:nth-child(odd) {
    background-color: #e8f2fb;
}

button.pricebut_l {
    padding: 12px 75px;
    margin: 20px 22px 17px;
    background-color: #3371a6;
    font-weight: 700;
    color: white;
    border: 1px solid #3371a6;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
/*central price*/
.price {
    
    width: 300px;
    border: 4px solid #ee8129;
    border-radius: 4px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    padding-top: 0;
    font-family: 'Futura Book';
    z-index: 1;
}

.head {
    font-weight: 500;
    font-size: 24px;
    color: white;
    height: 80px;
    background-color: #ee8129;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Futura Md BT';
}

p.head2 {
    font-family: 'Poiret One', cursive;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.prise25 {
    text-align: center;
    font-size: 70px;
    margin: 20px auto 30px;
    font-family: 'Futura Md BT';
}

.priceul {
    list-style: none;
    margin: 0 15px 0 -25px
}

.priceli {
    padding: 9px 30px;
    font-weight: 500;
    margin-bottom: 1px;
}
.priceli img {
    position: relative;
}
.priceli:nth-child(even) {
    background-color: #f5f5f6;
}

.priceli:nth-child(odd) {
    background-color: #e8f2fb;
}

button.pricebut {
    padding: 12px 75px;
    margin: 20px 22px 30px;
    background-color: #ee8129;
    font-weight: 700;
    color: white;
    border: 1px solid #ee8129;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
/*Right price*/
.price_r {
    width: 300px;
    border: 1px solid #f5f5f6;
    border-radius: 4px;
    padding-top: 0;
    font-family: 'Futura Book';
    margin-left: -5px;
    z-index: -1;
    position: relative;
}

.head_r {
    border: 1px solid #1cb79a;
    border-radius: 0 4px 0 0;
    font-weight: 500;
    font-size: 24px;
    color: white;
    height: 67px;
    background-color: #1cb79a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Futura Md BT';
}

p.head2_r {
    font-family: 'Poiret One', cursive;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.prise25_r {
    text-align: center;
    font-size: 70px;
    margin: 20px auto 30px;
    font-family: 'Futura Md BT';
}

.priceul_r {
    list-style: none;
    margin: 0 15px 0 -25px
}

.priceli_r {
    padding: 9px 30px;
    font-weight: 500;
    margin-bottom: 1px;
}
.priceli_r img {
    position: relative;
}
.priceli_r:nth-child(even) {
    background-color: #f5f5f6;
}

.priceli_r:nth-child(odd) {
    background-color: #e8f2fb;
}

button.pricebut_r {
    padding: 12px 75px;
    margin: 20px 22px 17px;
    background-color: #3371a6;
    font-weight: 700;
    color: white;
    border: 1px solid #3371a6;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

/*Testimonials*/

.testimonial {
    background-image: url(https://i.ibb.co/q793k03/task2-back.jpg);
    background-size: cover;
    margin: 50px 0;
    padding-top: 50px;
    padding-bottom: 70px;
}
h2{
    color: #3371a6;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    margin: 0 auto;
}
span.firstword{
    color: #ee8129;
    font-family: 'Futura Book';
    font-weight: normal;
}
.testi_left,.testi_right{
    display: inline-block;
    margin-top: 50px;
}
.testi_left{
    padding-left: 8%;
}
.testi_right{
    padding-left: 40px;
}
img{
    position: absolute;
}
.testi_item{
    background-color: white;
    width: 360px;
    position: relative;
    margin-left: 130px;
    font-size: 18px;
    padding: 15px;
}
.name{
    color: #3371a6;
    padding-bottom: 15px;
    font-style: italic;
    border-bottom: 1px dotted #3371a6;
    margin-top: 0;
}
span.status{
    float: right;
}

.triangl{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1em 1em 1em 1em;
    display: block;
    border-color: transparent white transparent transparent;
    position: absolute;
    margin-left: -42px;
    
}


